# Do not export those files in the Composer archive (lighter dependency)
.ddev/ export-ignore
.gitattributes export-ignore
.github/ export-ignore
.gitignore export-ignore
CHANGELOG.md export-ignore
craft export-ignore
craft-install/ export-ignore
docs/ export-ignore
README.md export-ignore
SECURITY.md export-ignore
composer.lock export-ignore
ecs.php export-ignore
package-lock.json export-ignore
package.json export-ignore
phpstan.neon export-ignore
stubs/ export-ignore
tests/ export-ignore

# Auto-detect text files and perform LF normalization
* text=auto

# Treat bundled fonts as binary so LF normalization can't corrupt them
*.ttf binary
