# Generated values — run `ddev setup` to populate these automatically
CRAFT_APP_ID=
CRAFT_SECURITY_KEY=

# DDEV provides these automatically — only set if not using DDEV
CRAFT_DB_DRIVER=mysql
CRAFT_DB_SERVER=db
CRAFT_DB_PORT=3306
CRAFT_DB_DATABASE=db
CRAFT_DB_USER=db
CRAFT_DB_PASSWORD=db

CRAFT_DEV_MODE=true
CRAFT_ALLOW_ADMIN_CHANGES=true
CRAFT_DISALLOW_ROBOTS=true

PRIMARY_SITE_URL=https://craft-parts-kit.ddev.site/
